<% @page_title = "Delete Editor" %>
<%= link_to("<< Back to List", {:action => 'index'}, :class => 'back-link') %>

<div class="editors delete">
  <h2>Delete Editor</h2>

  <%= form_for(:editor, :url => {:action => 'destroy', :id => @editor.id}) do |f| %>

    <p>Are you sure you want to permanently delete this editor?</p>

    <p class="reference-name"><%= @editor.first_name + ' ' + @editor.last_name %></p>

    <div class="form-buttons">
      <%= submit_tag("Delete Editor") %>
    </div>

  <% end %>
</div>
